.skip-to-content {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.skip-to-content:focus {
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
